html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

body {
  background-color: #000000;
  position: relative;
}

#pc {
  height: 100px;
  width: 70px;
  position: absolute;
  background-color: #ffffff;
}